<%- include('../includes/header.ejs')%>

<div>
    <h1>About me</h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
        Reprehenderit nisi at aperiam facere distinctio ipsum perspiciatis aliquid ut consequatur cupiditate. <br> 
        Earum cum accusamus vero corrupti dolore nam deleniti ea quos.
    </p>
</div>

<%- include('../includes/footer.ejs')%>