<%- include('../includes/header.ejs')%>

<div>
    <h1>Contact</h1>
    <ul>
        <li>Numéro :</li>
        <li>Adresse email :</li>
        <li>Adresse locale :</li>
    </ul>
</div>

<%- include('../includes/footer.ejs')%>