<%- include ('../../includes/admin/header.ejs') %>
    <h1>Mes articles</h1>
    <a href="/admin/add_article">
        <button class="ui basic button">
            <i class="icon pencil alternate"></i>
            Add Article
        </button>
    </a>
    <%- include('../../includes/admin/footer.ejs') %>